<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/home-alt.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
        rel="stylesheet">
    <title>Stockjam</title>
</head>

<body>
    <div class="header">
        <header>
            <h1 class="hhead">Stockjam</h1>
        </header>
    </div>

    <div class="sidenav">
        <a href="/">Dashboard</a>
        <a href="/estoque">Estoque</a>
        <a href="/cad_produto">Cadastrar produtos</a>
        <a href="/cad_estoque">Cadastrar estoque</a>
        <a href="/alt_estoque">Alterar estoque</a>

    </div>


    {{!-- <a href="/" class="links_home">Tela Inicial</a>&emsp;
    <a href="/cad_estoque" class="links_home">Cadastrar Estoque</a>&emsp;
    <a href="/alt_estoque" class="links_home">Editar Estoque</a>&emsp;
    <a href="/estoque" class="links_home">Lista Estoque</a>&emsp;
    <a href="/cad_produto" class="links_home">Cadastrar Produto</a>&emsp; --}}

    {{{body}}}
</body>

</html>