<div class="bg_telas form">
      <div class="title1">
        <h1 style="color: #6e6e6e">Alterar estoque</h1><br>
    </div>
    <form action="/alt_estoque" method="post">
        <label for="EDid">ID do Estoque:</label><br>
        <input type="number" name="EDid" required>
        <br>
        <br>
        <label for="EDvalor_estoque">Valor do produto:</label><br>
        <input type="number" name="EDvalor_estoque" required>
        <br>
        <br>
        <label for="EDquantidade">Quantidade:</label><br>
        <input type="number" name="EDquantidade" required>
        <br>
        <br>
        <button id="enviar" "submit">Atualizar</button>
    </form>
</div>