<div class="bg_telas form">
    <div class="title1">
        <h1>Cadastro de produto no estoque</h1><br>
    </div>
    <form action="/cad_estoque" method="post">
        <label for="id_prod">ID do Produto:</label><br>
        <input type="number" name="id_prod" required>
        <br>
        <br>
        <label for="quantidade">Quantidade:</label><br>
        <input type="number" name="quantidade" required>
        <br>
        <br>
        <br>
        <button id="enviar" type="submit">Cadastrar</button>
    </form>
</div>