<div class="bg_telas form">
    <div class="title1">
        <h1>Cadastrar produto</h1><br>
    </div>
    <form action="/cad_produto" method="post">
        <label for="produto">Nome do produto:</label><br><br />
        <input type="text" name="nome" required>
        <br>
        <br>
        <label for="descricao">Descriçao do produto:</label><br><br>
        <input type="text" name="descricao" required>
        <br>
        <br>
        <label for="preco">Preço do produto:</label><br><br>
        <input type="number" name="preco" required>
        <br>
        <br>
        <br>
        <button id="enviar" type="submit">Cadastrar</button>
    </form>
</div>