<div class="bg_telas bgHome">
    <h1 class="title1">Dashboard</h1>
    <div class="main-content">
        <div class="dashboard-content">
            <div class="card">
                <h3>Total de Produtos</h3>
                <p>150</p>
            </div>
            <div class="card">
                <h3>Produtos em Estoque</h3>
                <p>120</p>
            </div>
            <div class="card">
                <h3>Produtos Vendidos</h3>
                <p>30</p>
            </div>
            <div class="card">
                <h3>Última Atualização</h3>
                <p>25/06/2024</p>
            </div>
        </div>
    </div>
</div>

</div>